.navbar {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @media (max-width: 768px) {
    width: 100vw;
  }
}

.nav-link {
  color: #00000080;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link.active {
  /* font-weight: bold; */
  color: #000000;
}
/* underline settings */
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 0.1rem;
  background-color: #b93434;
}

.nav-link:hover {
  color: #311616;
}
